<!DOCTYPE html>
<html>
    <head>
            <link href="../styles/tags.css" rel="stylesheet" type="text/css">
            <link href="../styles/grid.css" rel="stylesheet" type="text/css">
            <link href="../styles/gameActors.css" rel="stylesheet" type="text/css">
    </head>
    <body>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../models/gameActors.js"></script>
        <script src="../models/fog.js"></script>
        <script>
            let fogModel = new FogModel();
        </script>

    </body>
</html>