<!DOCTYPE html>
<html>
    <head>
        <title>M A Z E M A S T E R</title>
        <link href="../styles/tags.css" rel="stylesheet" type="text/css">
        <link href="../styles/grid.css" rel="stylesheet" type="text/css">
        <link href="../styles/gameActors.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="grid"></div>
        <div class="centered">
            <p>Select a tile and click on the grid above.</p>
            <button id="playerButton">Player</button>
            <button id="wallButton">Wall</button>
            <button id="minotaurButton">Minotaur</button>
            <button id="fleeceButton">Fleece</button>
            <button id="eraseButton">Erase</button>
        </div>
        <div class="centered">
            <button id ="saveButton">Save Grid</button>
        </div>
        <div class="centered">
            <h1>M A Z E M A S T E R</h1>
            <p>A web-based dungeon creator which can be used to create playable M A Z E maps.</p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="../models/displayNodes.js"></script>
        <script src="../models/calculations.js"></script>
        <script src="../models/gameActors.js"></script>
        <script src="../models/grid.js"></script>
        <script src="../models/player.js"></script>
        <script src="../models/wall.js"></script>
        <script src="../models/mazemasterModel.js"></script>

        <script src="../controllers/mazemasterController.js"></script>
    </body>
</html>