.tile {
    height: 50px;
    width: 50px;
    position: absolute;
}

#player {
    background: #0D8691;
}

#minotaur {
    background: rgb(117, 7, 7);
}

#wall {
    background: #031635;
}

#treasure {
    background: rgb(253, 218, 18);
}