body {
    background: #292b2d;
}

h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.screenshot {
    margin: auto;
    width: 1000px;
    text-align: center;
}

.tile {
    height: 50px;
    width: 50px;
    position: absolute;
}

#player {
    background: #0D8691;
}

#debugTileA {
    background: #656570;
}

#debugTileB {
    background: #30304b;
}

#grid {
    background: #1f1f2e;
    height: 1000px;
    width: 1000px;
    position: relative;
    margin: auto;
}

#text {
    color: #eeeeee;
    width: 400px;
    margin: auto;
}