* {
    color: #eeeeee;
}

body {
    background: #292b2d;
}

h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.screenshot {
    margin: auto;
    width: 1000px;
    text-align: center;
}

#text {
    width: 400px;
    margin: auto;
}